body {
    padding: 0;
    margin: 0;
    background: #F7F7F7;
  
    background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);

    background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);

    background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
  }
  
 
  .header {
    background-image: url(https://blogsmedia.lse.ac.uk/blogs.dir/9/files/2019/07/code.jpg);
    height: 400px;
    background-position: center center;
  }
  .header h1 {
    color:#FFFFFF
  }


  .fixun p{
color: #000000;
margin-left: 29px;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }

  .A note on code {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #FFFFFF;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
 
  
  .article div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
  }
  
  .article p {
    color: #FFFFFF;
    text-align: left;
  }
  
 
  .what {
    background-color: darkseagreen;
  }
  
  .language {
    background-color: #483d8b;
  }
  
  .city {
    background-color: saddlebrown;
  }
  
  .definition {
    background-color:#41292C;
  }
  
  .now {
    background-color: black;
  }
  
  
  h1 {
    color: #41292C;
    font-family: 'Covered By Your Grace', sans-serif;
    font-size: 100px;
    line-height: 76px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 20%;
  }
  
  h2 {
    color: #E4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
    color: #000000;
  }
  
  h6{font-size: 20px;
    line-height: 76px;
    margin: 100px;
    position: relative;
    top: 20%;

      color:#FFFFFF;
  }
  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
    color:#F7F7F7
  }
  
 
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 100;
  }
  
  a {
    color: #214E34;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
.citation p{
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
size:2px;
margin-left: 20px;
color:black;
}

.citation {
  background-color: #FFFFFF;
  background: cover;
}
